@import "./my.scss";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  -webkit-text-size-adjust:none
}
body {
  line-height: 1.5;
  background-color: #EFEFF4;
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color:transparent;
  -webkit-user-select:none;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  padding: 0;
  -webkit-appearance: none;
  border: none;
}
img{
  display: inline-block;
  vertical-align: middle;
}
a{
  text-decoration: none;
  color: #353535;
}
a, button, input, textarea{
  outline: none;
}
.c-353535{
  color: #353535!important;
}
.c-888{
  color: #888;
}
.fs-14{
  font-size: 14px;
}
.fs-16{
  font-size: 16px;
}
.fs-20{
  font-size: 20px;
}
.c-red{
  color:#FB4D1B!important;
}
.c-green{
  color: #08B133;
}
.c-orange{
  color: #FB4D1B;
}
.no-border{
  border: none!important;
}
.align-center{
  align-self: center;
}
.bg-white{
  width: 100%;
  background: #fff;
}
.c-blue{
  color:#32A5F4!important;
}
.mt-20{
  margin-top: calculateSize(20px);
}
.pb-20{
  padding-bottom: calculateSize(20px)!important;
}
.pl-15{
  padding-left: calculateSize(15px)!important;
}
.react:active{
  background: #f7f7f7!important;
}

.column{
  display: flex;
  align-items: center;
}
button {
  position:relative;
  display:block;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding-left:14px;
  padding-right:14px;
  box-sizing:border-box;
  font-size:18px;
  text-align:center;
  text-decoration:none;
  line-height:2.55555556;
  border-radius:5px;
  -webkit-tap-highlight-color:transparent;
  overflow:hidden;
  color:#000000;
  background-color:#F8F8F8;

}
i[class^='icon'] {
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}
/* icon begin*/
.icon-more{
  width: calculateSize(26px);
  height: calculateSize(16px);
  position: absolute;
  right: calculateSize(30px);
  top: 50%;
  transform: translateY(-50%);
  transition: all .2s ease;
}
.icon-more img{
  display: block;
  width: calculateSize(26px);
  height: calculateSize(16px);
}
.icon-more.open{
  transform: translateY(-50%) rotate(180deg);
}

/* icon end*/
/* 按钮 begin */
.small-btn{
  width: calculateSize(114px);
  height: calculateSize(54px);
  border: calculateSize(2px) solid #FB4D1B;
  border-radius: calculateSize(8px);
  line-height: calculateSize(54px);
  font-size: 15px;
  color: #FB4D1B;
  text-align: center;
}
.middle-btn{
  width: calculateSize(116px);
  height: calculateSize(64px);
  border: calculateSize(2px) solid #FB4D1B;
  border-radius: calculateSize(8px);
  line-height: calculateSize(64px);
  font-size: 16px;
  color: #FB4D1B;
  text-align: center;
}
.big-btn{
  width: calculateSize(196px);
  height: calculateSize(86px);
  border: calculateSize(2px) solid #FB4D1B;
  border-radius: calculateSize(8px);
  line-height: calculateSize(86px);
  font-size: 18px;
  color: #FB4D1B;
  background: #fff;
  text-align: center;
}
.btn-default{
  border-color: #ccc;
  color: #999;
}
.btn-primary{
  background-color: #FB4D1B!important;
  color: #fff;
}
.btn-active{
  border: calculateSize(2px) solid #FB4D1B!important;
  color: #FB4D1B!important;
}
/* 按钮 end */


/* 开奖状态 end*/
/*
 * 数字彩
*/
.boll {
  padding-left: calculateSize(8px);
  margin-top: calculateSize(-20px);
  overflow: hidden;
}
.boll div{
  width: calculateSize(58px);
  height: calculateSize(58px);
  float: left;
  margin: calculateSize(20px) calculateSize(20px) 0 0;
  border: calculateSize(2px) solid #FB4D1B;
  border-radius: calculateSize(58px);
  line-height: calculateSize(58px);
  text-align: center;
  font-size: 16px;
  color: #FB4D1B;
  background-color: #fff;
}
.boll.distance-40 div{
  margin-right: calculateSize(40px);
}
.boll div:last-child{
  margin-right: 0;
}
.boll div.active{
  background: #FB4D1B;
  color: #fff;
}
.boll div.blue{
  color: #32A5F4;
  border-color:#32A5F4;
}
.boll div.blue.active{
  background-color: #32A5F4;
  border-color:#32A5F4;
  color: #fff;
}
.boll-list{
  padding: calculateSize(20px) 0 0 0;
}
.one-boll{
  padding-top: calculateSize(10px);
  padding-bottom: calculateSize(10px);
  border-bottom: 1px dashed #e5e5e5;
  overflow: hidden;
}
/** 号码头 begin*/
.bonus-options{
  display: flex;
  justify-content: space-between;
  margin: calculateSize(20px) 0 calculateSize(22px);
}
.bonus-options div{
  line-height: calculateSize(40px);
  text-align: center;
  font-size: 16px;
  color: #888;
}
.bonus-options div:first-child{
  flex: 1;
}
.bonus-options .text-left{
  padding-left: calculateSize(110px);
  text-align: left;
}
.b-options-price{
  flex: calculateSize(142px) 0;
}

/* 复式 号码 begin*/
.multiple-boll{
  position: relative;
}
.boll-item{
  padding-left: calculateSize(8px);
  /*margin-bottom: -30px;*/
}
.boll-item .tit{
  padding: calculateSize(10px) calculateSize(14px) calculateSize(10px) 0;
  line-height: calculateSize(40px);
  font-size: 14px;
  color: #999;
}
.boll-item .boll{
  overflow: hidden;
  padding: calculateSize(10px) 0;
}

.boll-item:nth-of-type(2){
  border-bottom: 1px dashed #e5e5e5;
}

/* 复式 号码 end*/

/*底部按钮 begin
*/
.btns{
  width: 100%;
  position: fixed;
  left:0;
  bottom:0;
  background: #EFEFF4;
}
.btns button{
  border: 1px solid #FB4D1B;
  font-size: 16px;
}
.btns-content{
  display: flex;
  padding: calculateSize(10px) 0;
}
.btns div, .btns a{
  margin: 0 calculateSize(15px);
  flex: 1;
}
.edit-btn{
  background-color: #fff!important;
  color: #FB4D1B!important;
}
.confirm-btn{
  background-color: #FB4D1B!important;
  color: #fff!important;
}
.button-active{
  box-shadow: 0 0 5px #FB4D1B;
}
/* 底部按钮 end*/

/* 奖金 begin*/
.amount {
  display: flex;
  padding-bottom: calculateSize(22px);
  border-bottom: 1px dashed #e5e5e5;
}
.amount img{
  width: calculateSize(76px);
  height: calculateSize(76px);
  margin-right: calculateSize(20px);
  vertical-align: middle;
}
.count-amount{
  padding-top: calculateSize(30px);
  line-height: calculateSize(48px);
  font-size: 14px;
  color: #111;
  text-align: center;
}
.count-amount .c-orange{
  font-size: 16px;
}
.show-amount{
  padding-top: calculateSize(5px);
  line-height: calculateSize(40px);
  font-size: 14px;
  color: #353535;
}
/* 奖金 end*/


/* error begin */
.error-msg{
  height: calculateSize(90px);
  padding: calculateSize(20px) calculateSize(40px);
  border-radius: calculateSize(90px);
  line-height: calculateSize(90px);
  text-align: center;
  font-size: 14px;
  color: #FB4D1B;
  white-space: nowrap;
  background-color: rgba(0,0,0,.9);
  position: fixed;
  bottom: calculateSize(-70px);
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 99;
}
/* error end*/


/* loading begin*/
.loading{
  line-height: calculateSize(80px);
  text-align: center;
  font-size: 14px;
  color:#999;
}
/* loading end*/

/* 竞彩足球 begin*/
.column-football{
  display: flex;
  height: calculateSize(64px);
  width: 100%;
  align-items: center;
}
.column-football div{
  flex: 1;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
}
.column-football div:nth-of-type(1){
  flex: 0 20%;
}
.column-football div:nth-of-type(2){
  flex: 0 5%;
  text-align: left;

}
.column-football div:nth-of-type(3){
  flex: 0 35%;

}
.column-football div:nth-of-type(4){
  flex: 0 5%;
}
.column-football div:nth-of-type(5){
  flex: 0 35%;

}
.column-football div:nth-of-type(6){
  flex: 0 10%;
  padding-right: calculateSize(10px);
  text-align: right;
}
.football-options{
  color: #B2B2B2;
  border-bottom: 1px dashed #e5e5e5;
}
.football{
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: calculateSize(20px);
  position: relative;
}
.football .column-football{
  height: calculateSize(64px);
  color: #888;
}

.football-label{
  width: calculateSize(560px);
  overflow: hidden;
}

.football-label div{
  float: left;
  width: calculateSize(176px);
  height: calculateSize(48px);
  margin: calculateSize(6px) calculateSize(10px) calculateSize(10px) 0;
  border: calculateSize(2px) solid rgba(50,165,244,.14);
  line-height: calculateSize(48px);
  background: rgba(50,165,244,.14);
  border-radius: calculateSize(8px);
  font-size: 15px;
  text-align: center;
  color: #353535;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.football-label div:nth-of-type(3n){
  margin-right:0;
}

.football-label div.active{
  background: rgba(251,77,27,.14);
  border-color: #FB4D1B;
  color: #FB4D1B;
}
.football-label div.active text{
  color: #FF7F59;
}
.football-label div.disabled{
  background: #F4F4F4;
  border-color: #F4F4F4;
  color:#9E9D9D;
}
.football-label div text{
  font-size: 13px;
  color: #888;
}
.football-label div.disabled text{
  color: #B2B2B2;
}
.football-result{
  position: absolute;
  top: 50%;
  right: calculateSize(0px);
  transform: translateY(-50%);
  line-height: calculateSize(40px);
}
.football-result .f-r-score{
  font-size: 15px;
  color: #353535;
}
.football-result .f-r-half-score{
  font-size: 12px;
  color: #888;
}
/* 竞彩足球 end*/

/* 编辑 begin */
.edit-cont{
  background: #fff;
  padding: calculateSize(80px) calculateSize(40px) calculateSize(160px);
}
.edit-box{
  display: flex;
  align-items: center;
  padding-bottom: calculateSize(30px);
}
.edit-label{
  padding-right: calculateSize(20px);
  line-height: calculateSize(40px);
  font-size: 14px;
  color: #888;
  white-space: nowrap;
}
/* 编辑 end*/

/* 排列三 and 五*/
.cell-num{
  padding: calculateSize(42px);
  border-bottom: 1px dashed #e5e5e5;
  margin-top: -calculateSize(22px);
  position: relative;
  text-align: center;

}
.cell-num img{
  width: calculateSize(144px);
  height: calculateSize(144px);
}
.cell-num div{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FB4D1B;
  font-size: 20px;
}
.rank-box{
  display: flex;
  padding-bottom: calculateSize(20px);
  border-bottom: 1px dashed #e5e5e5;
  align-items: center;
}
.rank-digit{
  display: flex;
  align-items: center;
  margin-top: calculateSize(20px);

}
.rank-digit > div:first-child{
  flex: 0 auto;
  padding-right: calculateSize(20px);
  line-height: calculateSize(40px);
  font-size: 14px;
  color: #999;
  white-space: nowrap;
}
