@import '../../sass/my.scss';
.soccer-other{
  position: absolute;
  min-height: 100%;
  top: 0;
  padding: calculateSize(94px) 0;
  background-color: #EFEFF4;
}

.header{
  width: 100%;
  height: calculateSize(94px);
  border-bottom: 1px solid #FFA848;
  font-size: 15px;
  color: #111;
  background-color: #FFE3C4;
  position: fixed;
  top: 0;
  left:0;
  z-index: 2;
  
}
.header div{
  flex: 1;
}
.header div:nth-of-type(1){
  text-align: right;
}
.header div:nth-of-type(2){
  flex: 0 calculateSize(260px);
  text-align: center;
  color: #888;
}

/* 玩法选择 begin*/
.play-header{
  height: calculateSize(80px);
  padding: 0 calculateSize(30px);
  line-height: calculateSize(80px);
  background-color: rgba(0,0,0,.02);
  position: relative;
  font-size: 13px;
  color: #353535;
}
.play-header span{
  font-size: 11px;
  color: #888;
}

.play-body{
  padding: calculateSize(20px) calculateSize(30px);
}
.one-tit{
  padding-bottom: calculateSize(6px);
  font-size: 13px;
  color: #b2b2b2;
  line-height: calculateSize(38px);
}
.play-list{
  margin-left: calculateSize(-20px);
  overflow: hidden;
}
.play-list > div{
  float: left;
  margin: 0 0 calculateSize(20px) calculateSize(20px);
}
.play-btn{
  width: calculateSize(116px);
  height: calculateSize(84px);
  padding-top: calculateSize(8px);
  border: 1px solid #ccc;
  border-radius: calculateSize(8px);
  text-align: center;
  font-size:  15px;
  color: #666;
  line-height: calculateSize(40px);
}
.play-btn div{
  font-size: 12px;
  color: #b2b2b2;
}
.play-btn.active{
  border-color: #FB4D1B;
  color: #FB4D1B;
}
.play-btn.active div{
  color: #FF7F59;
}
/* 玩法 end*/